header {
  display: flex;
  flex-direction: column;
}

.pageHeader {
  background-color: rgb(59, 59, 59);
  min-height: 10vh;
}

.primaryNav {
  flex: 1;
}

.articleNav {
  background-color: rgb(204, 204, 204);
  color: black;
  flex-shrink: 1;
}

.articleNav a {
  color: rgb(56, 56, 56);
}

.headerNav {
  display: flex;
  align-items: center;
}

.headerNav > * {
  flex: 1;
}
