.article {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "pic  byline"
    "desc desc";
    padding: 20px
}

.articleSummary {
  grid-area: desc;
  font-size: 1.5em;
}

.byline h2 {
    font-size: 1em;
}

.bylineSpan {
    display: flex;
}

.tag::before {
    content: "\00a0";
}

.mainArticle {
  background-color: rgb(59, 59, 59);
  min-height: 350px;
  margin: 50px;
}

.secondaryArticle {
  background-color: rgb(97, 97, 97);
  min-height: 150px;
  margin: 50px;
}
